body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h1 {
  text-align: start;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.info {
  flex: 1;
  padding: 20px;
}

.info h2 {
  margin-top: 0;
  color: #333;
}

.info p {
  margin: 8px 0;
  line-height: 2;
}

.cover {
  width: 250px;
  object-fit: cover;
}

@media(max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .cover {
    width: 100%;
    height: auto;
  }
}

.search {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 50px;
  margin-top: 10px;
  padding: 15px 15px;
  align-items: center;
}

.search button{
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding-left: 10px;
  width: 300px;
  background-color: transparent;
}